@charset "UTF-8";

section{
    background-color: blue;
    height: 500px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-end;
}

section article{
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin: 5px;
    padding: 30px;
    text-align: center;
}