*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
section{
    border: 3px solid black;
    width: 250px;
    height: 470px;
    margin-top: 5px;
    background-color: rgba(204, 201, 197, 0.603);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
section div{
    border: 2px solid rgb(102, 101, 101);
    border-radius: 6px;
    text-align: center;
    width: 150px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;

}
.c1{
    background-color: rgba(168, 165, 162, 0.705);
    
}
