@media only screen and (max-width: 1015px) {
    body{
        overflow: hidden;
    }
    .descricao-container{
        display: none;
    }
    
    .login-container{
       margin: auto;
       height: 605px;
    }
 
    .login{
        width: 400px;
        height: 400px;
        
    }
    .img-login{
        display: block;
        padding: 12px;
    }

    

}