@font-face {
    font-family: 'font-title', 'font-text';
    src: local('YoungSerif-Regular'), url(fonts/young-serif/YoungSerif-Regular.ttf) format('woff2');
}
@font-face {
    font-family: ;
    src: local('Outfit-VariableFont_wght'), url(fonts/outfit/Outfit-VariableFont_wght.ttf) format('woff2');   
}
*{
    padding: 0px;
    margin: 0px;
    font-family: 'font-text';
    color: rgba(0, 0, 0, 0.581);
}

h1,h2{
    font-family: 'font-title';
    font-weight: 550;
    
}

body{
    border: 1px solid black;
    background-color:#f3e5d8;
    display: flex;
    justify-content: center;
    
    
}
main{
    border: 1px solid black;
    background-color: white;
    width: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 80px;
}
#recipe-container{
    margin: 30px;
}
#image-box{
    display: flex;
    justify-content: center;
   
}
#image-box img{
    width: 100%;
    border-radius: 10px;
}

#recipe-title-box h1{
    color: rgba(0, 0, 0, 0.827);
    padding: 15px 0;
    font-size: 28px;
}
p,ul,ol{
    font-size: 10.5px;
    font-weight: bold;
}

#preparation-time-box{
   margin: 20px;
}
#preparation-time-box h3{
    color: rgba(95, 6, 112, 0.778);
    font-size: 16px;

}
#preparation-time-box li{
    color: rgba(95, 6, 112, 0.778);
}
#preparation-time-box strong{
    color: rgba(0, 0, 0, 0.671);
}

#preparation-time-box ul {
    padding-left: 20px; 
    
}
#preparation-time-box li{
    margin: 10px;
}
.content h2,li{
    color: rgb(151, 74, 20);
}

#ingredients-box ul{
    border-bottom: 1px solid rgba(0, 0, 0, 0.088);
    padding-left: 20px;
    margin: 5px 0px 20px 0px;
}
#ingredients-box li{
    margin: 15px 0;
    
}

