@font-face {
    font-family: 'font-title';
    src: local('YoungSerif-Regular'), url(fonts/young-serif/YoungSerif-Regular.ttf) format('woff2');
}
@font-face {
    font-family: 'font-text';
    src: local('Outfit-VariableFont_wght'), url(fonts/outfit/Outfit-VariableFont_wght.ttf) format('woff2');   
}
*{
    padding: 0px;
    margin: 0px;
    font-family: 'font-text';
    color: rgba(0, 0, 0, 0.581);
}

h1,h2{
    font-family: 'font-title';
    font-weight: 550;
    
}

body{
    border: 1px solid black;
    background-color:#f3e5d8;
    display: flex;
    justify-content: center;
    
    
}
main{
    border: 1px solid black;
    background-color: white;
    width: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 80px;
}
#recipe-container{
    margin: 30px;
}
#image-box{
    display: flex;
    justify-content: center;
   
}
#image-box img{
    width: 100%;
    border-radius: 10px;
}

#recipe-title-box h1{
    color: rgba(0, 0, 0, 0.827);
    padding: 15px 0;
    font-size: 28px;
}
#recipe-title-box p{
    font-size: 10.5px;
    font-weight: bold;
    
}
#preparation-time-box{
   border: 1px solid black;
   margin: 20px;
}
#preparation-time-box h3{
    color: rgba(95, 6, 112, 0.778);
    font-size: 16px;
}
#preparation-time-box #temp-information {
    border: 1px solid black;
    width: 50%;
}
